.movieCard {
  display: block;
  min-width: 270px;
  min-height: 218px;
  border-radius: 8px;
  background: #fff;
  filter: drop-shadow(0 0 6px rgba(0,0,0,0.1));
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease;
  text-decoration: none!important;

  &:hover {
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.2));
  }

  &__thumb {
    height: 150px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__body {
    margin: 15px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
  }

  &__time {
    color: #A0A0A0;
    font-size: 11px;
  }

  &__titleWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }

  &__removeBtn {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__statusDot {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #fff;
    filter: drop-shadow(0 3px 3px rgba(0,0,0,0.2));

    &:after {
      content: '';
      background-color: rgba(0,0,0,.05);
      width: 12px;
      height: 12px;
      border-radius: 100%;
      transition: all 200ms ease;
    }

    &-added {
      &:after {
        background-color: #2BE080;
      }
    }
  }
}

