.accountButton {
  display: flex;
  align-items: center;
  border: none 0;
  outline: none;
  background-color: transparent;
  gap: 8px;
  border-radius: 50px;
  border: 2px rgba(170, 170, 170, .2) solid;
  height: 32px;
  padding: 0 8px;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    background-color: rgba(170, 170, 170, .25);
  }
}
